main {
  height: 100vh;
  background: url('../img/background.jpg') no-repeat center;
  background-size: cover;
  @include grid(1fr, 0.1fr 0.05fr 1fr);
  gap: 0.5rem;
}
.art-section {
  display: none;
}
.logo {
  height: 10vh;
  background: url('../img/logo.png') no-repeat center;
  background-size: 10rem;
}
.title {
  @include flex(flex-start, center, row);
  width: 90%;
  height: 100%;
  margin: auto;
  color: $cultured;
  margin-bottom: 1rem;
}

.hero {
  width: 90%;
  height: auto;
  min-height: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 2rem;
}
form {
  width: 90%;
  height: 100%;
  margin: auto;
  @include grid(1fr, auto);
  gap: 0.7rem;
}
.data-wrap {
  width: 70%;
  margin: auto;
  padding-top: 1rem;
  @include grid(1fr, auto);
  gap: 0.5rem;
  input,
  select {
    width: 80%;
    padding-block: 0.5rem;
    outline: none;
    background: $cultured;
    border: none;
    border-bottom: 1px solid $gray;
    background: none;
    color: $cultured;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
  label {
    letter-spacing: 0.05rem;
    font-style: italic;
    color: $cultured;
  }
  input,
  select,
  label {
    align-self: center;
    justify-self: center;
    width: 100%;
  }
}
.password,
.password-confirm {
  position: relative;
}
.show {
  position: absolute;
  top: 50%;
  right: 3%;
  z-index: 2;
  color: $gray;
  transition: all 100ms cubic-bezier(0.39, 0.96, 0.83, 0.67);
  svg {
    pointer-events: none;
  }
  &:hover {
    color: $cultured;
  }
}
.register {
  width: 80%;
  justify-self: center;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background: $deep-blue;
  color: $gray;
  transition: all 100ms cubic-bezier(0.39, 0.96, 0.83, 0.67);
  &:hover {
    background: $purp;
    color: $cultured;
  }
}
