@import 'keyframes';

main {
  height: 100vh;
  background: url('../img/background.jpg') no-repeat center;
  background-size: cover;
  @include grid(1fr, 0.1fr 0.05fr 1fr);
  gap: 0.5rem;
  @include mq(tablet) {
    background-position: right;
  }
}

.logo {
  height: 10vh;
  background: url('../img/logo.png') no-repeat left;
  background-size: 10rem;
}
.title {
  @include flex(flex-start, center, row);
  width: 90%;
  height: 100%;
  margin: auto;
  color: $cultured;
  margin-bottom: 1rem;
}
.sections-wrap {
  @include flex(center, center, column);
  @include mq(tablet) {
    @include grid(0.7fr 1.3fr, auto);
    position: relative;
  }
}

.art-section {
  width: 100%;
  height: 100%;
  grid-area: 1/1/1/1;
  .image-wrap {
    background: url('../img/abstract.png') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
  display: none;
  @include mq(tablet) {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 265%;
    .image-wrap {
      width: 170%;
    }
  }
}
.hero {
  @include flex(center, center, column);
  position: relative;
  width: 90%;
  height: auto;
  min-height: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 2rem;
  @include mq(phone) {
    min-height: 65%;
  }
  @include mq(lgphone) {
    min-height: 65%;
  }
  @include mq(tablet) {
    grid-area: 1/2/1/2;
    background: linear-gradient(
      90deg,
      rgb(137, 19, 133) 0%,
      rgb(80, 39, 179) 100%
    );
    align-self: center;
    opacity: 0.98;
    position: absolute;
    right: 50%;
    top: 10%;
    transform: translate(20%);
    z-index: 3;
    border: none;
    box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.5);
  }
}
form {
  width: 90%;
  height: 100%;
  margin: auto;
  @include grid(1fr, auto);
  gap: 0.7rem;
  @include mq(sphone) {
    gap: 0.05rem;
  }
  @include mq(lgphone) {
    gap: 1.2rem;
  }
  @include mq(wphone) {
    gap: 2rem;
  }
  @include mq(phone) {
    gap: 1rem;
  }
  @include mq(mphone) {
    gap: 1.7rem;
  }
}
.data-wrap {
  width: 70%;
  margin: auto;
  padding-top: 1rem;
  @include grid(1fr, auto);
  gap: 0.5rem;
  input,
  select {
    width: 80%;
    padding-block: 0.5rem;
    outline: none;
    background: $cultured;
    border: none;
    border-bottom: 1px solid $gray;
    background: none;
    color: $cultured;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
  input[type='text'] {
    text-transform: capitalize;
  }
  #password,
  #passwordConfirm {
    text-transform: none;
  }
  label {
    letter-spacing: 0.05rem;
    font-style: italic;
    color: $cultured;
  }
  input,
  select,
  label {
    align-self: center;
    justify-self: center;
    width: 100%;
  }
}
.info:required:invalid:user-invalid:focus {
  border-bottom: 1.5px solid $red-cta;
}
.password,
.password-confirm {
  position: relative;
}
.show {
  position: absolute;
  top: 50%;
  right: 3%;
  z-index: 2;
  color: $gray;
  transition: all 100ms cubic-bezier(0.39, 0.96, 0.83, 0.67);
  svg {
    pointer-events: none;
  }
  &:hover {
    color: $cultured;
  }
}
.register {
  width: 80%;
  justify-self: center;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background: $deep-blue;
  color: $gray;
  transition: all 100ms cubic-bezier(0.39, 0.96, 0.83, 0.67);
  &:hover {
    background: $purp;
    color: $cultured;
  }
}

.register-success {
  opacity: 0;
  visibility: hidden;
  transition: all 150ms ease-in-out;
  position: absolute;
  top: 0%;
  right: 0%;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  background: $cultured;
  @include grid(1fr, 0.1fr 0.5fr auto 0.15fr);
}
.close {
  padding: 1rem;
  i {
    pointer-events: none;
  }
}
.register-success-active {
  opacity: 1;
  visibility: visible;
}
.success-header {
  @include grid(1fr, auto);
  h1,
  h2 {
    align-self: center;
    justify-self: center;
  }
  .clr1 {
    color: $purp;
  }
  .clr2 {
    color: #cf0063;
  }
  .clr3 {
    color: #bd47e7;
  }
  .clr4 {
    color: #f15252;
  }
}
.button-wrap {
  @include flex(flex-end, center, row);
  width: 95%;
  margin: auto;
}
.success-anim {
  width: 100%;
  height: 100%;
  @include flex(center, center, row);
  svg {
    width: 80%;
    height: 80%;
  }
}
.success-comm {
  text-align: center;
  letter-spacing: 0.1rem;
  p {
    font-size: 1.3rem;
  }
}
#balloon-left {
  animation: balloons-1 1.5s ease-in-out infinite alternate;
}
#balloon-right {
  animation: balloons-2 2s ease-in-out infinite alternate;
}
#free-balloons {
  animation: free-balloons 4s ease infinite alternate;
}
#stardust {
  animation: stardust 2s linear infinite alternate-reverse;
}
#hands {
  animation: hands 2s ease infinite alternate;
  transform-origin: center;
}
